<div id="searchPanel" class="center">
	<select>
		<option value="pubmed">PubMed</option>
	</select>
	<%= form_tag root_path, method: 'get' do %>
		<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag 'Search', name: nil, id: 'searchBtn' %>
		</p>
	<% end %>
</div>

<div id='mainContainer'>
	<% if @query.empty? %>
		<div class="center hero-unit">
			<h1>Dynamic Pubmed</h1>
			<p>
				This is the home page for the the Dynamic Pubmed User Interface Application.
			</p>
			<p>
				Please enter a query to begin
			</p>
		</div>
	<% else %>
		<div class="hero-unit">
			<% if @newQuery %>
				<!-- Alter URL parameters -->
				<%= link_to 'Evolve', search: @newQuery %>
				<%= @newQuery %>
			<% end %>
			<!-- Display Results -->
			<% for i in 0..(@results.length - 1) %>
				<p class='article'>
					<div class='identifier'>
						<span><%= (i+1).to_s + '.' %></span>
						<% if @results[i].score == 0 %>
							<% @liked = i %>
							<%= link_to params.merge(liked: i.to_s) do %>
								<span>+1</span>
							<% end %>
						<% else %>
							<span>&#x2713;</span>
						<% end %>
					</div>
					<div class='body'>
						<%= link_to(('http://www.ncbi.nlm.nih.gov/pubmed/' + @results[i].pmid.to_s), html_options = {}) do %> 
							<u><%= @results[i].title %></u></br>
						<% end %>
						<% if not @results[i].authors.empty? %>
							<%= @results[i].authors %></br>
						<% else %>
							Authors: N/A</br>
						<% end %>
						<% if @results[i].so == "" %>
							<%= @results[i].so + " No abstract available" %></br>
						<% else %>
							<%= @results[i].so %></br>
						<% end %>
						<%= "PMID: " + @results[i].pmid + " [Pubmed - indexed for MEDLINE" %> 
					</div>
				</p>
			<% end %>
		</div>
	<% end %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>