<div id="searchPanel" class="center">
	<select>
		<option value="pubmed">PubMed</option>
	</select>
	<%= form_tag root_path, method: 'get' do %>
		<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag 'Search', name: nil, id: 'searchBtn' %>
		</p>
	<% end %>
</div>

<div id='mainContainer'>
	<% if @query.empty? %>
		<div class="center hero-unit">
			<h1>Dynamic Pubmed</h1>
			<p>
				This is the home page for the the Dynamic Pubmed User Interface Application.
			</p>
			<p>
				View <%= link_to 'Help', help_path%>/<%= link_to 'About', about_path %> pages for more information
			</p>
			<p>
				Please enter a query to begin
			</p>
		</div>
	<% else %>
		<div class="hero-unit">
			<!-- Alter URL parameters -->
			<% if @mhList and @genotype %>
				<p class="center">
					<% localMhList = @mhList.join('|') %>
					<% localGenotype = @genotype.join('|') %>
					<% if localMhList.length > 1 %>
						<%= link_to("Evolve", url_options = {search: @newQuery, origQuery: params[:search], evolving: "1", mhList: localMhList, genotype: localGenotype}, html_options = {class: "btn btn-large btn-primary"}) %>
					<% else %>
						<p class="center">Currently Selecteded Articles Do Not Have Mesh Headers</p>
						<p class="center">Please Make Another Selection</p>
					<% end %>
				</p>
			<% end %>
				

			<% if params[:evolving] %>
				<p class="center">
					<% if params[:evolving] == "1" %>
						 <%= link_to("Next Generation", url_options = {search: @newQuery, origQuery: params[:origQuery], evolving: "1", mhList: params[:mhList], genotype: params[:genotype]}, html_options = {class: "btn btn-large btn-primary"}) %>
					<% end %>
				</p>
			<% end %>

			<!-- Display Results -->
			<% for i in 0..(@results.length - 1) %>
				<p class='article'>
					<div class='identifier'>
						<span><%= (i+1).to_s + '.' %></span>
						<% if @results[i].score == 0 %>
							<% if params[:liked] %>
								<%= link_to('+1', url_options = {liked: (params[:liked] + ',' + @results[i].pmid), search: params[:search]}, html_options = {class: "btn-primary"})%>
							<% else %>
								<%= link_to('+1', url_options = {liked: (@results[i].pmid), search: params[:search]}, html_options = {class: "btn-primary"}) %>
							<% end %>
						<% else %>
							<span>&#x2713;</span>
						<% end %>
					</div>
					<div class='body'>
						<%= link_to(('http://www.ncbi.nlm.nih.gov/pubmed/' + @results[i].pmid.to_s), html_options = {}) do %> 
							<u><%= @results[i].title %></u></br>
						<% end %>
						<% if not @results[i].authors.empty? %>
							<%= @results[i].authors %></br>
						<% else %>
							Authors: N/A</br>
						<% end %>
						<% if @results[i].so == "" %>
							<%= @results[i].so + " No abstract available" %></br>
						<% else %>
							<%= @results[i].so %></br>
						<% end %>
						<%= "PMID: " + @results[i].pmid + " [Pubmed - indexed for MEDLINE" %> 
					</div>
				</p>
			<% end %>
		</div>
	<% end %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>