<!DOCTYPE html>
<html>
<head>
  <title><%=full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %> <!-- render partial _shim.html.erb -->
</head>
<body>
	<%= render 'layouts/header' %> <!-- render partial _header.html.erb -->
	<div class="container">
		<%= yield %>
		<%= render 'layouts/footer' %> <!-- render partial _footer.html.erb -->
	</div>
</body>
</html>
